[Unit]
Description=LED Changer

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart=/home/pi/led-changer-startup.sh
