[Unit]
Description=BLE Broadcaster and Server
After=led-changer.service

[Install]
WantedBy=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=3
ExecStart=/home/pi/brc-startup.sh
